@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-ExtraLight.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-ExtraLight.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-ExtraLightItalic.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-ExtraLightItalic.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-Bold.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-Bold.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-BoldItalic.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-BoldItalic.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-SemiBoldItalic.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-SemiBoldItalic.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-MediumItalic.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-MediumItalic.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-Thin.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-Thin.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-Regular.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-Regular.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-Medium.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-Medium.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-Italic.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-Italic.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-LightItalic.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-LightItalic.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-Light.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-Light.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-SemiBold.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-SemiBold.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Josefin Sans';
    src: url('../../public/assets/fonts/JosefinSans-ThinItalic.woff2') format('woff2'),
        url('../../public/assets/fonts/JosefinSans-ThinItalic.woff') format('woff'),
        url('../../public/assets/fonts/JosefinSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  *{
    font-family: 'Josefin Sans' !important ;
  }
  body{
    font-family: 'Josefin Sans' !important ;
  }
.bg-img{
    background-image: url("/assets/PngItem_1546699.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.react-select__input{
    box-shadow: none !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.text-elips {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;


  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.custom-select__input{
  outline: none !important;
  box-shadow: none  !important;
}
.custom-select__control{
  padding-top: 4px;
  padding-bottom: 4px;
  border-color: #dad7d7;
  box-shadow: none  !important;

}
.custom-select__placeholder {
color: #aeaeae;
font-size: 14px;
}
.custom-select__value-container{
  padding-left: 14px !important;
  color: #9c9c9c !important;
}
.custom-select__indicator-separator {
  display: none;
}
.helper-card__left{
  background: url('/assets/images/Monitoring-bg.png');
  background-repeat: no-repeat;
    background-size: contain;
}
.bootstrap #carrier_wizard ul.anchor {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 10px;
  list-style: none;
}
.bootstrap #carrier_wizard .stepContainer, .bootstrap #carrier_wizard .stepContainer .StepTitle, .bootstrap #carrier_wizard ul.anchor {
  position: relative;
  display: block;
  clear: both;
}
.bootstrap #carrier_wizard ul.anchor.nbr_steps_4 li, .bootstrap #carrier_wizard ul.anchor.nbr_steps_5 li {
  float: left;
  width: 25%;
}
.bootstrap #carrier_wizard, .bootstrap #carrier_wizard li {
  position: relative;
  display: block;
}
.bootstrap #carrier_wizard li {
  overflow: hidden;
}
.admincarrierwizard #carrier_wizard .steps>li>a.disabled {
  color: #505969!important;
  background-color: #eeeeee;
}

.admincarrierwizard #carrier_wizard .steps>li>a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.bootstrap #carrier_wizard li a.disabled {
  color: #777;
  background-color: #ccc;
}
.bootstrap #carrier_wizard li a {
  position: relative;
  display: block;
  height: 32px;
  margin: 0 16px 0 0;
  color: #ccc;
  text-decoration: none;
  outline-style: none;
}
.bootstrap #carrier_wizard li a .chevron, .bootstrap #carrier_wizard li a .chevron::after {
  position: absolute;
  top: 0;
  right: -16px;
  border: 16px solid transparent;
  border-right: 0;
  border-left: 14px solid #fff;
}
#carrier_wizard .steps>li>a.selected {
  background-color: #1d1d1b;
}
#carrier_wizard .steps>li>a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.bootstrap #carrier_wizard li a.selected {
  color: #f8f8f8;
  cursor: text;
  background-color: #363a41;
}
.bootstrap #carrier_wizard li a {
  position: relative;
  display: block;
  height: 32px;
  margin: 0 16px 0 0;
  color: #ccc;
  text-decoration: none;
  outline-style: none;
}
.bootstrap #carrier_wizard li a .stepNumber {
  position: relative;
  float: left;
  width: 24px;
  height: 32px;
  padding: 0 5px;
  margin-right: 3px;
  font-size: 30px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}
.bootstrap #carrier_wizard li a .stepDesc {
  position: relative;
  display: table-cell;
  height: 32px;
  font-size: 13px;
  line-height: 13px;
  text-align: left;
  vertical-align: middle;
}
.bootstrap #carrier_wizard li a .chevron, .bootstrap #carrier_wizard li a .chevron::after {
  position: absolute;
  top: 0;
  right: -16px;
  border: 16px solid transparent;
  border-right: 0;
  border-left: 14px solid #fff;
}
.admincarrierwizard #carrier_wizard .steps>li>a.selected .chevron::after {
  border-left-color: #363a41;
}
.bootstrap #carrier_wizard li a.selected .chevron::after {
  border-left: 14px solid #363a41;
}
.bootstrap #carrier_wizard li a .chevron::after {
  top: -16px !important;
  right: 2px !important;
  content: "";
  border-left: 14px solid #ccc;
}
.bootstrap #carrier_wizard li a .chevron, .bootstrap #carrier_wizard li a .chevron::after {
  position: absolute;
  top: 0;
  right: -16px;
  border: 16px solid transparent;
  border-right: 0;
  border-left: 14px solid #fff;
}
#carrier_wizard .steps>li>a.disabled .chevron::after {
  border-left-color: #eeeeee;
}
.bootstrap #carrier_wizard li a.disabled .chevron::after {
  border-left: 14px solid #ccc;
}



[data-custom-class='body'],[data-custom-class='body'] *{background: transparent !important;
}[data-custom-class='title'],[data-custom-class='title'] *{font-family: Arial !important;
font-size: 26px !important;
color: #000000 !important;
}[data-custom-class='subtitle'],[data-custom-class='subtitle'] *{font-family: Arial !important;
color: #595959 !important;
font-size: 14px !important;
}[data-custom-class='heading_1'],[data-custom-class='heading_1'] *{font-family: Arial !important;
font-size: 19px !important;
color: #000000 !important;
}[data-custom-class='heading_2'],[data-custom-class='heading_2'] *{font-family: Arial !important;
font-size: 17px !important;
color: #000000 !important;
}[data-custom-class='body_text'],[data-custom-class='body_text'] *{color: #595959 !important;
font-size: 14px !important;
font-family: Arial !important;
}[data-custom-class='link'],[data-custom-class='link'] *{color: #3030F1 !important;
font-size: 14px !important;
font-family: Arial !important;
word-break: break-word !important;
}